###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.pem
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
###< symfony/asset-mapper ###

/.env
/composer.phar
/phpstan.phar
/Esprit-PIDEV-3A--2526-Agricloud-master/
/database_schema_fix.sql
/database_patch_reviews_favorites.sql
