{% extends 'base.html.twig' %}

{% block title %}New Field for {{ farm.name }}{% endblock %}

{% block body %}
    <h1>Create New Field</h1>

    {{ include('field/_form.html.twig') }}

    {# UPDATE THIS LINE TO INCLUDE THE FARM ID #}
    <a href="{{ path('app_field_index', {'farm_id': farm.id}) }}" class="btn btn-secondary mt-3">back to list</a>
{% endblock %}